* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #e8e8e8;
}

.container {
	max-width: 500px;
	margin: 30px auto;
	padding: 30px 40px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 40px;
	color: #333;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
    margin-top: 20px;
	color: #333;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="number"],
form select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f8f8;
	color: #333;
}

form select option {
	color: #333;
}

form button[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
    margin-top: 40px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formula {
    font-size: 11px !important;
}

.label-injury {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.FI{
    position: absolute;
    width: 100vw;
    height: 120vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.608);
}

.FI img{
    margin-top: 20vh;
    width: 50vw;
    min-width: 350px;
}

.overflow-hiden {
    overflow: hidden;
}
.d-none{
    display: none;
}

.ayuda {
    width: 22px;
    height: auto;
    cursor: pointer;
}



.verformula {
	display: flex;
    justify-content: center;
    width: 100%;
	padding: 10px;
	font-size: 18px;
    margin-top: 20px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.verformula:hover {
	background-color: #3e8e41;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

form button[type="submit"]:hover {
	background-color: #3e8e41;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#result {
	margin-top: 25px;
	padding: 30px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#result h2 {
	font-size: 28px;
	margin-bottom: 20px;
	color: #333;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#result p {
	font-size: 18px;
	margin-bottom: 10px;
	color: #333;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
	.container {
		max-width: 100%;
		margin: 20px 10px;
		padding: 20px;
		border-radius: 0;
		box-shadow: none;
	}
	
	h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	
	form input[type="number"],
	form select {
		margin-bottom: 10px;
	}
	
	form input[type="submit"] {
		margin-top: 20px;
	}
}

